<div class="container" id="basic-info">
    <p>I am 25 years young and just trying to start my career in the Computer Science field.
        I graduated from Utah State University in August of 2016 with my Bachelors of Science in
        Computational Mathematics with Computer Science and History minors. I currently work as a
        Junior Full Stack Web Developer at a small Company in Ogden, Utah, and I absolutely love it.
        I also am a Math tutor in courses through Calculus I.
    </p>
</div>

<div class="container" id="more-info">
    Enough of the boring stuff..

    I absolutely love life! I am always up for an adventure, especially outside.
    I seriously have too many hobbies. Anything from shooting, snowboarding, crafts, reading, and so many more.

    Curious to know more about me or just want to say hello, check out my Blog, Social Media, or Contact me.
</div>
