@import 'https://fonts.googleapis.com/css?family=Baloo+Tamma|Indie+Flower|Pacifico';

body{
    height:100%;
    background: #f8b195;
    color: #355c7d;
    text-align: center;
    padding-bottom: 20px;
}

.container{
    font-family: "Indie Flower";
    font-size: 20px
}

.link{
    color: #f8b195;
    text-decoration: none;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar{
    font-family:"Pacifico";
    font-size: 20px;
    color: #f8b195;
    background: #355c7d;
    border: none;
}
.center{
    margin: auto;
    width: 50%;
    padding: 10px;
}

.navbar-fixed-bottom{
    min-height: 12px;
    font-size: 10px;

}